html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  max-width: 100vw;
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #162C3F;
  line-height: 1.5;
  word-break: break-all;
}
@media screen and (max-width:768px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width:480px) {
  body {
    font-size: 12px;
  }
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #162C3F;
}

.ttl_1 {
  font-size: 4rem;
  color: #557897;
  font-weight: lighter;
  white-space: nowrap;
}

.ttl_2 {
  font-size: 2rem;
  text-align: center;
  line-height: 0.7;
  margin-bottom: 4%;
  white-space: nowrap;
}
.ttl_2 span {
  font-size: 1rem;
  color: rgba(85, 120, 151, 0.5);
}

.ttl_3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.section {
  padding: 5% 0;
  background-color: #fff;
  position: relative;
}

.__inner {
  width: 90%;
  margin: 0 auto;
}

header {
  height: 102px;
  width: 100vw;
}

.header-wrap {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99;
}
.header-wrap__logo {
  width: 12%;
  aspect-ratio: 2/1;
}
.header-wrap__logo img {
  width: 100%;
  height: 100%;
}
.header-wrap__logo a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-wrap__logo a:hover {
  cursor: pointer;
  opacity: 0.7;
}
.header-wrap__nav {
  min-width: 75%;
  max-width: 80%;
}
.header-wrap__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header-wrap__nav__list__item {
  margin: auto 0;
  text-align: center;
}
.header-wrap__nav__list__item:last-child {
  margin-right: 0;
}
.header-wrap__nav__list__item a {
  font-size: 1.1rem;
  color: #557897;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-wrap__nav__list__item a:hover {
  cursor: pointer;
  color: #8FCBFF;
}
.header-wrap__nav__list .__res a {
  display: block;
  border: 2px solid #557897;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
}
.header-wrap__nav__list .__res a:hover {
  background-color: #557897;
  border: 2px solid #557897;
  color: #fff;
  font-weight: bolder;
}
.header-wrap__nav__list .__res a:hover i {
  color: #fff;
}
.header-wrap__nav__list .__res a i {
  color: #557897;
  font-size: 1.5rem;
  margin-right: 5%;
}
.header-wrap .drawer {
  visibility: hidden;
}

.top {
  width: 100%;
  height: 100vh;
  background-image: url(../img/t-fv__bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}
.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
.top-wrap {
  padding-top: 102px;
}
.top-wrap__con {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 4% 3%;
  background-color: rgba(255, 255, 255, 0.8);
}
.top-wrap__con__ttl {
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 12%;
}
.top-wrap__con__txt {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.5rem;
}

.intro-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.intro-wrap__img {
  width: 80%;
  aspect-ratio: 5/3.3;
  z-index: 0;
  position: relative;
}
.intro-wrap__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.intro-wrap__img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.2);
}
.intro-wrap__con {
  width: 420px;
  height: 50%;
  margin: auto 0;
  padding: 4% 2%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;
  margin-right: -20%;
  z-index: 1;
  opacity: 0;
}
.intro-wrap__con__txt {
  margin-bottom: 10%;
  line-height: 1.5;
}
.intro-wrap__con__txt p {
  font-size: 1.25rem;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 1% 4rem 1% 1.5rem;
  border: 1px solid #557897;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(85, 120, 151, 0.5);
  box-shadow: 2px 2px 2px rgba(85, 120, 151, 0.5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5rem;
  line-height: 2.5;
  white-space: nowrap;
  color: #557897;
}
.btn:hover {
  cursor: pointer;
  background-color: #557897;
  color: #fff;
}

.arrow-right {
  position: relative;
  padding-right: 4rem;
}
.arrow-right::before {
  position: absolute;
  content: "";
  margin: auto;
  top: 0;
  bottom: 0;
  right: 18px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #557897;
  border-right: 3px solid #557897;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow-right::after {
  position: absolute;
  content: "";
  margin: auto;
  top: 0;
  bottom: 0;
  right: 18px;
  width: 30px;
  height: 3px;
  background: #557897;
}
.arrow-right:hover::before {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
.arrow-right:hover::after {
  background: #fff;
}

.treat {
  background-color: #F1F9FF;
}
.treat-wrap__ttl {
  margin-bottom: -3%;
}
.treat-wrap__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.treat-wrap__body__block {
  display: block;
  width: 30%;
  height: 620px;
  background-color: #fff;
  margin: 1.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.treat-wrap__body__block__img {
  width: 100%;
  height: 40%;
}
.treat-wrap__body__block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.treat-wrap__body__block__ttl {
  margin: 10% auto 1%;
  text-align: center;
}
.treat-wrap__body__block hr {
  width: 60px;
  background-color: #557897;
  margin: 5% auto;
}
.treat-wrap__body__block__txt {
  margin: 0 auto;
  padding: 0 6%;
}
.treat-wrap__body__block__btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.treat-wrap__body__block__btn .btn {
  font-size: 1rem;
  max-width: 90%;
  padding-left: 1rem;
}
.treat-wrap__body__block__btn .arrow-right::before {
  width: 8px;
  height: 8px;
  border-top: 2px solid #557897;
  border-right: 2px solid #557897;
}
.treat-wrap__body__block__btn .arrow-right::after {
  width: 20px;
  height: 2px;
}
.treat-wrap__body__block__btn .arrow-right:hover::before {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.greet-wrap__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.greet-wrap__body__left {
  display: block;
  width: 40%;
  aspect-ratio: 1/1;
  background-color: #fff;
  margin: auto -20% -4% auto;
  padding: 4%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}
.greet-wrap__body__left__txt {
  margin-bottom: 8%;
  line-height: 1.8;
}
.greet-wrap__body__left__btn {
  text-align: center;
}
.greet-wrap__body__right {
  width: 80%;
  aspect-ratio: 5/3.3;
  z-index: 1;
}
.greet-wrap__body__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.news {
  background-color: #F1F9FF;
}
.news-wrap {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.news-wrap__left {
  display: block;
  width: 25%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: auto 0;
}
.news-wrap__left__ttl {
  margin-bottom: 20%;
}
.news-wrap__right {
  display: block;
  width: 60%;
}
.news-wrap__right__list__item {
  margin-bottom: 1%;
  font-size: 1rem;
}
.news-wrap__right__list__item span {
  margin-right: 8%;
}
.news-wrap__right__list hr {
  background-color: rgba(85, 120, 151, 0.5);
}

.access-wrap {
  width: 80%;
}
.access-wrap__map {
  margin: 0 auto 5%;
}
.access-wrap__map iframe {
  display: block;
  width: 100%;
  height: 70vh;
}
.access-wrap__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.access-wrap__bottom__left {
  display: block;
  width: 50%;
  aspect-ratio: 5/2;
  margin-right: 5%;
}
.access-wrap__bottom__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.access-wrap__bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.access-wrap__bottom__right__adress {
  display: block;
  width: 480px;
  padding: 2% 4%;
  background-color: #F1F9FF;
  margin-bottom: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.access-wrap__bottom__right__adress p {
  font-size: 1.25rem;
  line-height: 2;
}
.access-wrap__bottom__right__time {
  display: block;
  width: 100%;
}
.access-wrap__bottom__right__time table {
  width: 100%;
  font-size: 1.25rem;
}
.access-wrap__bottom__right__time table th {
  font-weight: lighter;
  width: 30%;
}
.access-wrap__bottom__right__time table tr {
  border-bottom: 1px solid rgba(85, 120, 151, 0.5);
  line-height: 3;
}
.access-wrap__bottom__right__time table tr:nth-of-type(2) td, .access-wrap__bottom__right__time table tr:nth-child(3) td {
  color: #557897;
}

.faq-wrap {
  width: 75%;
}
.faq-wrap__ttl {
  margin-bottom: 10%;
}
.faq-wrap__body__list {
  margin: 0 auto 8%;
}
.faq-wrap__body__list__item {
  border-bottom: 1px dotted rgba(85, 120, 151, 0.5);
  position: relative;
  margin-bottom: 3%;
}
.faq-wrap__body__list__item:last-child {
  margin-bottom: 0;
}
.faq-wrap__body__list__item__ttl {
  font-size: 1.5rem;
  line-height: 2;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.faq-wrap__body__list__item__ttl span {
  font-size: 2rem;
  font-weight: bolder;
  margin-right: 1%;
}
.faq-wrap__body__list__item__ttl::before, .faq-wrap__body__list__item__ttl::after {
  position: absolute;
  content: "";
  right: 2%;
  top: 40%;
  width: 3px;
  height: 18px;
  background-color: #557897;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.faq-wrap__body__list__item__ttl::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.faq-wrap__body__list__item__ttl.selected::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.faq-wrap__body__list__item__ttl.selected::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.faq-wrap__body__list__item__ttl:hover {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.faq-wrap__body__list__item__con {
  display: none;
}
.faq-wrap__body__list__item__con p {
  display: block;
  max-width: 90%;
  padding: 3%;
  font-size: 1.25rem;
}
.faq-wrap__body__list__item__ttl, .faq-wrap__body__list__item__con {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}
.faq-wrap__body__list__item__ttl + .faq-wrap__body__list__item__con.selected {
  max-height: 500px;
}
.faq-wrap__body__btn {
  text-align: center;
}
.faq-wrap__body__btn .btn {
  display: inline-block;
  line-height: 2;
}

.footer {
  background: url(../img/footer_bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(85, 120, 151, 0.8);
  top: 0;
  left: 0;
  z-index: -1;
}
.footer-wrap {
  width: 90%;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3% 0;
  z-index: 3;
}
.footer-wrap__logo {
  width: 150px;
  margin: 0 auto 3%;
}
.footer-wrap__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-wrap__logo img:hover {
  cursor: pointer;
  opacity: 0.7;
}
.footer-wrap__nav {
  width: 90%;
  margin: 0 auto;
}
.footer-wrap__nav__list {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-wrap__nav__list__item {
  margin: 3%;
  text-align: center;
}
.footer-wrap__nav__list__item a {
  color: #fff;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-wrap__nav__list__item a:hover {
  cursor: pointer;
  opacity: 0.7;
}
.footer-wrap hr {
  width: 50%;
  margin: 4% auto;
}
.footer-wrap__res__btn {
  margin-bottom: 4%;
}
.footer-wrap__res__btn a {
  font-size: 1.5rem;
  line-height: 2;
  padding: 0.5rem 2rem;
}
.footer-wrap__res__btn a:hover {
  border-color: #fff;
}
.footer-wrap__res__info a {
  color: #fff;
  font-size: 2.25rem;
  line-height: 1.2;
}
.footer-wrap__res__info p {
  font-size: 1rem;
  color: #fff;
  padding-top: 1%;
}
.footer-wrap__time {
  background-color: #fff;
  width: 480px;
  margin: 0 auto 5%;
}
.footer-wrap__time table {
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  color: #557897;
}
.footer-wrap__time table th {
  font-weight: lighter;
  width: 30%;
  font-size: 1rem;
}
.footer-wrap__time table tr {
  line-height: 3;
}
.footer-wrap__time table tr:first-child {
  background-color: #D9D9D9;
}
.footer-wrap__time table tr:nth-of-type(2) td, .footer-wrap__time table tr:nth-of-type(3) td {
  font-size: 1rem;
}
.footer-wrap__copyright small {
  color: #fff;
}

#load_logo {
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
}

#load_logo_ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}
#load_logo_ttl p {
  display: block;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.3rem;
  color: #557897;
  border-bottom: 1px solid #557897;
}

.fadeIn {
  -webkit-animation: fadeInAnime 1.5s forwards;
  animation: fadeInAnime 1.5s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 90px;
  }
  .header-wrap__logo {
    width: 120px;
  }
  .header-wrap__nav {
    width: 90%;
  }
  .header-wrap__nav__list__item {
    margin: auto 1%;
  }
  .header-wrap__nav__list__item a {
    font-size: 0.8rem;
  }
  .intro-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .intro-wrap__img {
    margin: 2% auto;
    width: 70%;
  }
  .intro-wrap__con {
    width: 70%;
    margin: 0 auto;
  }
  .intro-wrap__con__txt p {
    font-size: 1rem;
  }
  .treat-wrap {
    width: 90%;
  }
  .treat-wrap__body__block {
    width: 48%;
    height: 520px;
    margin: 1%;
  }
  .greet-wrap__body {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .greet-wrap__body__right {
    width: 70%;
    margin: 2% auto;
  }
  .greet-wrap__body__left {
    width: 80%;
    margin: 0 auto;
    aspect-ratio: 2/1;
  }
  .news-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .news-wrap__left {
    margin: 0 auto 3%;
    display: block;
    width: 100%;
  }
  .news-wrap__left__ttl {
    text-align: center;
    margin-bottom: 0;
  }
  .news-wrap__left__btn {
    position: absolute;
    bottom: 8%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .news-wrap__right {
    width: 95%;
    margin: 0 auto 18%;
  }
  .access-wrap__map iframe {
    height: 50vh;
  }
  .access-wrap__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .access-wrap__bottom__left {
    width: 100%;
    height: 170px;
    margin: 2% auto 5%;
  }
  .access-wrap__bottom__right__adress {
    width: 100%;
  }
  .access-wrap__bottom__right__time {
    margin: 0 auto;
  }
  .access-wrap__bottom__right__time table {
    line-height: 2;
  }
  .access-wrap__bottom__right__time table th {
    font-size: 0.9rem;
  }
}
@media screen and (max-width:768px) {
  .__tab {
    display: inline-block;
  }
  .section {
    padding: 8% 0;
  }
  header {
    position: relative;
  }
  header .drawer {
    visibility: visible;
    position: fixed;
    content: "";
    width: 30px;
    top: 20px;
    right: 15px;
    border-top: solid 5px #557897;
    cursor: pointer;
    z-index: 100;
  }
  header .drawer::before, header .drawer::after {
    content: "";
    display: block;
    width: 30px;
    background: #557897;
    height: 5px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .drawer::before {
    top: 5px;
  }
  header .drawer::after {
    top: 15px;
  }
  header .header-wrap__nav {
    position: fixed;
    display: none;
    width: 100%;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: #557897;
  }
  header .header-wrap__nav__list {
    display: block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  header .header-wrap__nav__list__item {
    margin: 5% auto;
    font-size: 1.5rem;
    line-height: 3;
    white-space: nowrap;
  }
  header .header-wrap__nav__list__item a {
    color: #fff;
    font-size: 1.2rem;
  }
  header .header-wrap__nav__list__item a:hover {
    opacity: 0.7;
    color: #fff;
  }
  header .header-wrap__nav__list .__res a {
    display: block;
    width: 150px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 10px;
  }
  header .header-wrap__nav__list .__res a i {
    color: #fff;
    font-size: 1.5rem;
  }
  header .header-wrap__nav__list .__res a:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #557897;
    opacity: 1;
  }
  header .header-wrap__nav__list .__res a:hover i {
    color: #557897;
  }
  body.nav-open header .drawer {
    border-top: 0;
  }
  body.nav-open header .drawer::before {
    top: 15px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
  }
  body.nav-open header .drawer::after {
    top: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
  }
  .top-wrap__con {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .footer-wrap__time {
    width: 350px;
  }
}
@media screen and (max-width:480px) {
  .section {
    padding: 12% 0;
  }
  .ttl_1 {
    font-size: 2.5rem;
  }
  .ttl_2 {
    font-size: 1.8rem;
  }
  .ttl_3 {
    font-size: 1.25rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  header {
    height: 70px;
  }
  header .header-wrap__nav__list .__res a {
    width: 50%;
    line-height: 2rem;
  }
  .top-wrap__con__txt {
    font-size: 1.2rem;
  }
  .intro-wrap__img {
    width: 90%;
  }
  .intro-wrap__con {
    width: 90%;
  }
  .treat-wrap__body__block {
    width: 80%;
    height: 480px;
    margin: 5% auto;
  }
  .treat-wrap__body__block .arrow-right {
    padding-right: 3rem;
  }
  .greet-wrap__body__left, .greet-wrap__body__right {
    width: 90%;
  }
  .news-wrap__right {
    width: 100%;
    margin-bottom: 28%;
  }
  .access-wrap__bottom__left {
    height: 100px;
  }
  .access-wrap__bottom__right__time table {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .access-wrap__bottom__right__time table th {
    font-size: 0.7rem;
  }
  .access-wrap__bottom__right__adress p {
    font-size: 0.8rem;
  }
  .faq-wrap__body__list__item__ttl {
    font-size: 1.1rem;
  }
  .faq-wrap__body__list__item__ttl span {
    font-size: 1.25rem;
  }
  .faq-wrap__body__list__item__con p {
    font-size: 1rem;
  }
  .footer-wrap__nav {
    width: 80%;
  }
  .footer-wrap__res__btn a {
    font-size: 1.2rem;
  }
  .footer-wrap__res__info a {
    font-size: 1.5rem;
  }
  .footer-wrap__time {
    width: 280px;
  }
  .footer-wrap__time table {
    font-size: 0.8rem;
  }
  .footer-wrap__time table th {
    font-size: 0.7rem;
  }
}
