$Black: #162C3F;
$White: #fff;
$Navy: #557897;
$SkyBg: #F1F9FF;
$WhiteRgb: rgb(255, 255, 255, 80%);
$WhiteRgbBg: rgb(255, 255, 255, 20%);
$NavyRgb: rgb(85, 120, 151, 50%);
$NavyBg: rgb(85, 120, 151, 80%);
$Green:#549694;
$BlueClear:#8FCBFF;
$GrayBg:#D9D9D9;